/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Variables

******************************************************************/

$site-width: 1240px;
$site-columns: 12;

$base-font-size: 18px;
$base-line-height: 26px;

$black: #000;
$white: #fff;
$red: #fe412e;
$blue: #19d2d7;
$peach: #fbebdb;

$link-color: $black;
$link-hover: darken($link-color, 9%);
