/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Variables

******************************************************************/

$site-width: 1310px;
$site-width-small: 1090px;
$site-columns: 12;

$base-font-size: 18px;
$base-line-height: 26px;

$black: #000;
$white: #fff;
$red: #e61414;

$link-color: $black;
$link-hover: darken($link-color, 9%);

$image-ratios: (
    "teaserlarge": (
        width: 720px,
        height: 440px
    ),
    "teasersmall": (
        width: 360px,
        height: 270px
    )
);
