/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Typography

*******************************************************************/

$regular: "m3regular", -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", Arial;
$light: "m3light", -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", Arial;
$bold: "m3bold", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    Arial;

@mixin font($style) {
    @if $style == "thin" {
        font-weight: 100;
    }

    @if $style == "light" {
        font-family: $light;
    }

    @if $style == "normal" {
        font-weight: normal;
    }

    @if $style == "medium" {
        font-weight: 500;
    }

    @if $style == "bold" {
        font-family: $bold;
    }

    @if $style == "italic" {
        font-style: italic;
    }
}

@mixin textantialiasing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($base-font-size)}rem;
}
