.Header {
    position: relative;
    top: 0;
    z-index: 1;
    background: $white;
    margin-bottom: 5rem;
    padding-top: 1rem;
    border-top: 5px solid $red;

    .Header--inner {
        @include sitewidth;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
