/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Social links

******************************************************************/

.SocialLinks {
    li + li {
        margin-top: 0.375rem;
    }
    a {
        display: block;
    }

    svg {
        color: black;
        display: block;
        height: 1.25rem;
        width: 20px;
    }
}
