.Teaser {
}

.Teaser:hover {
    .Teaser--image {
        transform: translateY(-4px);
    }

    .Teaser--text {
        transform: translateY(-2px);
    }
}

.Teaser--image {
    @include image-ratio("teaserlarge");
    margin-bottom: 0.5rem;
    transition: 0.3s transform;
}

.Teaser--title {
    @include font-m;
    margin-bottom: 0.5rem;
}

.Teaser--text {
    transition: 0.3s transform;
    p {
        @include font-s;
    }

    time {
        @include font-xs;
        @include font(bold);
        color: $red;
    }
}
