.TeaserGrid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;

    /* Supports Grid */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    &.size--3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.TeaserGrid--item {
    margin-bottom: 2rem;
}
