/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

******************************************************************/

.Logo {
    img {
        width: 150px;
        height: auto;
    }
}

#main {
    @include sitewidth;
}

.inner-wrapper {
    @include sitewidth-s;
}

#menu-main-navigation {
    display: none;
    @include above-tablet-portrait {
        display: flex;
    }

    li + li {
        margin-left: 1em;
    }

    li.current-menu-item a {
        color: $red;
    }

    a {
        @include font-base;
    }
}
