/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

******************************************************************/

.Logo {
    img {
        width: 150px;
        height: auto;
        @include mobile {
            width: 100px;
        }
    }
}

.main {
    @include sitewidth-s;
}

.SectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    strong {
        @include text-uppercase;
    }

    a {
        @include font-s;
    }
}

#menu-main-navigation {
    display: none;
    @include above-tablet-portrait {
        display: flex;
    }

    li + li {
        margin-left: 1em;
    }

    li.current-menu-item a {
        color: $grey;
    }

    a {
        @include font-base;
        @include font(normal);
    }
}
