.HomeIntro {
    @include sitewidth;
    @include above-desktop {
        padding-right: calc((#{$site-width} - #{$site-width-small}) / 2);
    }
    margin-bottom: 6rem;

    h2 {
        @include font-xl;
        margin-bottom: 0.2em;
    }

    p {
        @include font-base;
        @include font(normal);
        max-width: 1124px;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.HomeCTA {
    padding: 4rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;

    /* Supports Grid */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    justify-content: center;

    li {
        text-align: center;
    }

    a {
        @include font-m;
    }
}
